/* #60a9a6 #caf2d7 #f5fec0 #fddede */
/* #ecf4f3 #d1eecc #76dbd1 #57a99a */

/***************[ Tag Selectors ]***************/

head{
  margin: 0;
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1{
  color: #57a99a;
  font-family: 'Sofia', cursive;
  font-size: 5.625em;
  line-height: 1;
  margin: 50px 0 0 0;
  text-align: center;
}

h2{
  color: #57a99a;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 0 0 0 0;
}

h3{
  color: #57a99a;
}

hr{
  border-style: none none dotted none;
	border-color: #ecf4f3;
	border-width: 8px;
	width: 10%;
}

div{
  padding: 10px;
}

p{
  line-height: 2;
}

a{
  color: #57a99a;
  text-decoration: none;
}

a:hover{
  color: white;
}

/***************[ Class Selectors ]***************/

.top-container{
  background-color: #ecf4f3;
  padding: 100px 0 0 0;
  position: relative;
}

.middle-container{
  background-color: #60a9a6;
}

.bottom-container{
  background-color: #76dbd1;
  color: white;
}

.section{
  background-color: #d1eecc;
  border-radius: 16px;
}

.profile{
  margin: 0;
}

.section-row{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.footer-link{
  color: #57a99a;
  text-align: center;
  margin: 0 2% 0 2%;
}
.top-cloud{
  position: absolute;
  left: 75%;
  top: 5%;
}

.bottom-cloud{
  bottom: 50%;
  position: absolute;
  right: 75%;
}

.mountain-img{
  padding: 0;
  margin: 0;
  position: relative;
  bottom: -7px;
}

.profile-img{
  border-color: #ecf4f3;
  border-radius: 100%;
  border-style: solid;
  border-width: 8px;
  bottom: 0;
  height: 200px;
  margin: 20px 20px 50px 20px;
  transform: rotate(90deg);
  width: 275px;
}

.left-float-img{
  float: left;
  margin-right: 30px;
  width: 25%;
}

.right-float-img{
  float: right;
  margin-left: 30px;
  width: 25%;
}

.btn{
  box-shadow: 0 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #76dbd1 5%, #60a9a6 100%);
  background-color:#76dbd1;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:white;
  font-size:20px;
  font-weight:bold;
  margin: 0 0 30px 0;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0 1px 0 #276873;
}

.btn:hover {
	background:linear-gradient(to bottom, #60a9a6 5%, #57a99a 100%);
	background-color:#60a9a6;
}

.btn:active {
	position:relative;
	top:1px;
}
